<a href="https://colab.research.google.com/github/deepesh-tomar/Data-science/blob/master/OneBancAssisment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)
import datetime

In [2]:
df1 = pd.read_csv("DataScienceCleanStatement.csv")
df1.head()

   Date        ... Unnamed: 12
0  12/12/2019  ...         NaN
1  12/12/2019  ...         NaN
2  12/12/2019  ...         NaN
3  12/12/2019  ...         NaN
4  12/12/2019  ...         NaN

[5 rows x 13 columns]

In [3]:
df1.shape

(1470, 13)

In [4]:
df1.describe()

       Date        ... Unnamed: 12
count        1470  ...           4
unique        408  ...           1
top      1/8/2019  ...       India
freq           13  ...           4

[4 rows x 13 columns]

In [5]:
df2 = df1.drop(['Unnamed: 12'], axis = 'columns')

In [6]:
df2.isnull().sum()

Date                                                                     0
Description                                                              0
InternationTransactionAmount                                             0
  Category                                                               0
  Amount                                                                 0
TransactionUserName                                                      0
 TransactionType                                                         0
IsoCurrency                                                              0
Locality                                                               168
City                                                                   200
State                                                                  225
Country                                                                163
dtype: int64

In [7]:
df3 = df2.dropna()
df3.isnull().sum()

Date                                                                   0
Description                                                            0
InternationTransactionAmount                                           0
  Category                                                             0
  Amount                                                               0
TransactionUserName                                                    0
 TransactionType                                                       0
IsoCurrency                                                            0
Locality                                                               0
City                                                                   0
State                                                                  0
Country                                                                0
dtype: int64

In [8]:
df3.columns = df3.columns.str.replace(' ', '')

In [9]:
df3.columns

Index(['Date', 'Description', 'InternationTransactionAmount', 'Category',
       'Amount', 'TransactionUserName', 'TransactionType', 'IsoCurrency',
       'Locality', 'City', 'State', 'Country'],
      dtype='object')

In [10]:
df4 = df3[['Date', 'TransactionUserName', 'Amount', 'Category', 'Description', 'IsoCurrency', 'InternationTransactionAmount','TransactionType','Locality','City', 'State', 'Country']]

In [11]:
df4

            Date   TransactionUserName Amount  ...      City        State Country
0     12/12/2019         VIBHORE GOYAL   -127  ...  Gurugram      Haryana   India
1     12/12/2019           JASJIT KAUR   -499  ...  Gurugram      Haryana   India
2     12/12/2019           JASJIT KAUR   -388  ...  Gurugram      Haryana   India
3     12/12/2019         VIBHORE GOYAL   -108  ...  Gurugram      Haryana   India
4     12/12/2019         VIBHORE GOYAL    -50  ...  Gurugram      Haryana   India
...          ...                   ...    ...  ...       ...          ...     ...
1465    6/7/2019         VIBHORE GOYAL   -120  ...  Gurugram      Haryana   India
1466    7/7/2019         VIBHORE GOYAL  -1798  ...  Gurugram      Haryana   India
1467    7/7/2019         VIBHORE GOYAL   -298  ...  Gurugram      Haryana   India
1468    7/7/2019           JASJIT KAUR  -1852  ...  Gurugram      Haryana   India
1469   11/7/2019         VIBHORE GOYAL  -1297  ...    Mumbai  Maharashtra   India

[1238 rows x 12 columns]

In [12]:
df4['Date'] = df4['Date'].apply(pd.to_datetime)

In [13]:
df4

           Date   TransactionUserName Amount  ...      City        State Country
0    2019-12-12         VIBHORE GOYAL   -127  ...  Gurugram      Haryana   India
1    2019-12-12           JASJIT KAUR   -499  ...  Gurugram      Haryana   India
2    2019-12-12           JASJIT KAUR   -388  ...  Gurugram      Haryana   India
3    2019-12-12         VIBHORE GOYAL   -108  ...  Gurugram      Haryana   India
4    2019-12-12         VIBHORE GOYAL    -50  ...  Gurugram      Haryana   India
...         ...                   ...    ...  ...       ...          ...     ...
1465 2019-06-07         VIBHORE GOYAL   -120  ...  Gurugram      Haryana   India
1466 2019-07-07         VIBHORE GOYAL  -1798  ...  Gurugram      Haryana   India
1467 2019-07-07         VIBHORE GOYAL   -298  ...  Gurugram      Haryana   India
1468 2019-07-07           JASJIT KAUR  -1852  ...  Gurugram      Haryana   India
1469 2019-11-07         VIBHORE GOYAL  -1297  ...    Mumbai  Maharashtra   India

[1238 rows x 12 columns]

In [14]:
df4.sort_values(by=['Date'], inplace=True, ascending=False)

In [15]:
df4

          Date   TransactionUserName  ...        State        Country
417 2020-12-02         VIBHORE GOYAL  ...  Maharashtra          India
421 2020-12-02            INDU GOYAL  ...      Haryana          India
420 2020-12-02           JASJIT KAUR  ...      Haryana          India
419 2020-12-02           JASJIT KAUR  ...      Haryana          India
418 2020-12-02         VIBHORE GOYAL  ...      Haryana          India
..         ...                   ...  ...          ...            ...
174 2019-01-02         VIBHORE GOYAL  ...      Haryana          India
173 2019-01-02         VIBHORE GOYAL  ...      Haryana          India
171 2019-01-02         VIBHORE GOYAL  ...     Virginia  United States
170 2019-01-02           JASJIT KAUR  ...      Haryana          India
172 2019-01-02         VIBHORE GOYAL  ...        Delhi          India

[1238 rows x 12 columns]

In [16]:
df4['TransactionType'] = df4['TransactionType'].str.replace(" ","")

In [17]:
df4.TransactionType.unique()

array(['Domestic', 'JASJITKAUR', 'International', 'VIBHOREGOYAL'],
      dtype=object)

In [18]:
index_names = df4[ df4['TransactionType'] == 'JASJITKAUR' ].index
df4.drop(index_names, inplace = True)
index_names = df4[ df4['TransactionType'] == 'VIBHOREGOYAL' ].index
df4.drop(index_names, inplace = True)

In [19]:
df4['TransactionUserName'] = df4['TransactionUserName'].str.replace(" ","")
df4.TransactionUserName.unique()

array(['VIBHOREGOYAL', 'INDUGOYAL', 'JASJITKAUR'], dtype=object)

In [20]:
index_names = df4[ df4['TransactionType'] == '-2391' ].index
df4.drop(index_names, inplace = True)

In [21]:
df4.shape

(1235, 12)

In [22]:
df4.Category = df4.Category.apply(lambda x: x.strip())
Category_stats = df4.groupby('Category')['Category'].agg('count').sort_values(ascending=False)
Category_stats

Category
                           388
Video game                 123
Cafe company               109
Company                     44
Hotel brand                 40
                          ...
Indian television actor      1
Indian union territory       1
Insurance company            1
Medication                   1
Federal agency               1
Name: Category, Length: 133, dtype: int64

In [23]:
Category_stats_less_than_10 = Category_stats[Category_stats<=10]
Category_stats_less_than_10

Category
Electronics retail company    9
American minister             7
City in New York              7
Clothing retail company       7
Indian actress                7
                             ..
Indian television actor       1
Indian union territory        1
Insurance company             1
Medication                    1
Federal agency                1
Name: Category, Length: 113, dtype: int64

In [24]:
Category_stats_greater_than_10 = Category_stats[Category_stats>=10]
Category_stats_greater_than_10

Category
                                388
Video game                      123
Cafe company                    109
Company                          44
Hotel brand                      40
E-commerce company               38
Online food ordering company     28
Retail company                   24
Cinema company                   24
Restaurant company               23
Occupation                       22
Event                            17
Telecommunications company       17
Massif in Nepal                  17
City in California               15
Railway company                  14
Fast food restaurant company     13
Novel by Tamsyn Muir             12
American television program      11
Book by Eric Carle               11
Name: Category, dtype: int64

In [25]:
df4.Category = df4.Category.apply(lambda x : 'other' if x in Category_stats_less_than_10 else x)
len(df4.Category.unique())

21

In [26]:
df4.Category.unique()

array(['Online food ordering company', 'Video game', 'Hotel brand', '',
       'other', 'Restaurant company', 'Fast food restaurant company',
       'Occupation', 'Company', 'E-commerce company',
       'American television program', 'Cafe company', 'Retail company',
       'City in California', 'Massif in Nepal', 'Book by Eric Carle',
       'Cinema company', 'Telecommunications company',
       'Novel by Tamsyn Muir', 'Event', 'Railway company'], dtype=object)

In [27]:
len(df4.Description.unique())

360

In [28]:
df4.sort_values(by=['Category'], inplace=True, ascending=True)

In [32]:
df4.head()

           Date TransactionUserName   Amount  ...      City    State Country
1461 2019-06-07          JASJITKAUR    -2499  ...  Gurugram  Haryana   India
1408 2019-06-18          JASJITKAUR    -5849  ...  Gurugram  Haryana   India
214  2020-01-14          JASJITKAUR      -50  ...  Gurugram  Haryana   India
912  2019-09-20          JASJITKAUR  -103.96  ...  Gurugram  Haryana   India
764  2019-06-08          JASJITKAUR     -131  ...  Gurugram  Haryana   India

[5 rows x 12 columns]

In [34]:
df5 = df4
df5['New_category'] = 'Null'

In [35]:
df5.head()

           Date TransactionUserName   Amount  ...    State Country New_category
1461 2019-06-07          JASJITKAUR    -2499  ...  Haryana   India         Null
1408 2019-06-18          JASJITKAUR    -5849  ...  Haryana   India         Null
214  2020-01-14          JASJITKAUR      -50  ...  Haryana   India         Null
912  2019-09-20          JASJITKAUR  -103.96  ...  Haryana   India         Null
764  2019-06-08          JASJITKAUR     -131  ...  Haryana   India         Null

[5 rows x 13 columns]

In [36]:
df5.reset_index(inplace = True)

In [39]:
df5.drop(['index'], axis = 1, inplace= True)

In [40]:
df5

           Date TransactionUserName   Amount  ...      State Country New_category
0    2019-06-07          JASJITKAUR    -2499  ...    Haryana   India         Null
1    2019-06-18          JASJITKAUR    -5849  ...    Haryana   India         Null
2    2020-01-14          JASJITKAUR      -50  ...    Haryana   India         Null
3    2019-09-20          JASJITKAUR  -103.96  ...    Haryana   India         Null
4    2019-06-08          JASJITKAUR     -131  ...    Haryana   India         Null
...         ...                 ...      ...  ...        ...     ...          ...
1230 2019-10-28          JASJITKAUR    -2006  ...  Rajasthan   India         Null
1231 2019-03-11          JASJITKAUR  -2023.6  ...     Punjab   India         Null
1232 2020-02-18          JASJITKAUR     -893  ...    Haryana   India         Null
1233 2019-03-19        VIBHOREGOYAL  -225.54  ...    Haryana   India         Null
1234 2019-09-08        VIBHOREGOYAL     -250  ...  Rajasthan   India         Null

[1235 rows x 13 columns]

In [47]:
des = df5.Description.unique()

In [62]:
def remove(string):
    return string.replace(" ", "")
      
for i in range(len(des)):
  des[i] = des[i].capitalize()
  des[i] = remove(des[i])

In [64]:
res = []
for i in des:
    if i not in res:
        res.append(i)

In [65]:
len(res)

297

In [83]:
res[300:320]

[]

In [130]:
shop = ['Redtapeshoesgurgaon','Khoslaelectronicspvtjaipur','Shreeramflowersjaipur','Lakshmanmartgurgaon','G9storegurgaon','Meenakshicollectiongurgaon','Samsunggalaxyjaipur','Tbajewelspvtltdnewdelhi','Jaswantjewellerskhanna','Mohankiranastorejaipur','Singlakaryanabhandargovindgarh','Rivieradegoauoresoarpora','Bigbazaarjaipur','Priyankawatchcollectigurgaon','Handbstoreslimitedgurgaon','Phdrahejamallgurgaon','Bobbygifthousegurdaspur','Handmhennesandmauritgurgaon','&martgurgaon','Sampurngiftsgurgaon','Orientelectrichousepnewdelhi','Pantaloonsp206gurgaon','Raniselecetiongurgaon','Thebodyshopgurgaon','Supermart49gurgaon','Suryaandcompanygurgaon','Modernmartgurgaon','Goldendragongurgaon','Krishnaelectronicsworgurgaon','Orientelectrichousenewdelhi','Tomntoysgurgaon','Flipkartpaymentsgurgaon','Flipkartpaymentsbangalore','Vinayaktradingcompanjaipur','Marksandspencerrelianewdelhi','Marksandspencerreliagurgaon','Shoppersstopltdjaipur','Amazonsellerservicesmumbai','Pay*1589corejaipur','Archieslimitedgurgaon','Fernsnpetalsprivategurgaon','Bataindialimitedgurgaon','Archieslimitedgurugram','Petalsgurgaon','Bigbazaargurgaon','Busabongandcopvtltdmumbai','Jockeygurugram','Msw*rubicreationsjaipur','Moregurgaon','Lightingprofessionalsgurgaon','Naturalsnowgurgaon','Ventotaretailminisogurgaon','Planetneedsstoregurgaon','Fashionandtrendsgurgaon','Accessorizegurgaon','Discountstoregurgaon','Kunaicmandimartgurgaon','Varietystoregurgaon','Innovativefurnituredelhi','Purehomelivinggurgaon','Paytmnoida','Ventotaretailgurgaon']
travel = ['Jaimahalpalacelapettasjaipur','Jaimahalpalacegiardinojaipur','Jaimahalreceptionjaipur','Fuelnationgurgaon','Airasiaindianewdelhi','Hiltonjaipur','Indigogurgaon','Jaimahalpalacefrengipajaipur','Jaipurspacejaipur','Leelaambiencehotelgurugram','Freshzone24gurgaon','Tajhotelsinternationaljaipur','Tajhotelsinternationalnewdelhi','Grandhyattreceptionbambolim','Jwmarriottresortjajaipur','Eternalgangespress(pgurgaon','Wwwolacabscomgurgaon','Shayampicturepalacefatehgarh','Theleelamumbai','Jetairwaysindialtdmumbai','Tatasiaairlinesmumbai','Psebbilldeskmumbai','Bsfuelsgurgaon','Tajhotelsinternationalrajasthan','Sainikfillingstationgurgaon','Hotelhighwaykingpaota','Uberinrmumbai','Ubergurgaon','Indianrailwaycateringnewdelhi','Httpswwwirctccoinnewdelhi','Irctccorpnewdelhi','Hiltongardeninngurggurgaon','Hpclpinkcitymidwaypgurgaon','Replayjaipur','Hindustanfuelsgurgaon','Fragranceloungegurgaon','Theoberoi361rest1gurgaon','Cleartrippvtltdmumbai','Makemytripindiapvtltnewdelhi','Srinivasaresortsltd-ihyderabad','Thelalitjaipur','Nashtolevel3mumbai','1589corejaipur','Imperialrestaurantbangalore','Msw*jaleshcruisesmaumumbai','Waterstoneshotelmumbai','Westsidemohali','Ghatkoparrcitymumbai','Lifestyleintlpvtltgurgaon','Electronictollcollecmumbai','Olacabs.comgurgaon','Ucbjaipur','Lifestyleinternationajaipur','Infinityhondagurgaon','Inoxjaipurspacejaipur','Rajasthaliresorts&sjaipur','Indrprsthagasbilldeskmumbai','Lifestyleinternationagurgaon','Msw*shreegurukripaasjaipur','Pinkcitybuildhomepvtjaipur','Meersinghfuelpointgurgaon','Nimitayahotel&resortsgurgaon','Lifestyleinternationamohali','Mohaliservicestationmohali']
food = ['Asiakitchenbymainlagurgaon','Biryaniparadisegurgaon','Paramountrestaurantsgurgaon','Tipsycaterersjaipur','Lapinopizzagurgaon','Kababrestaurantgurgaon','Wwwwdominoscoingurgaon','Coconutrestaurantjaipur','Sindhinamkeenanddrygurugram','Mcdonaldsmumbai','Starbuckscoffeegurgaon','Costacoffeekhararmohmohali','Mcdonaldsgurgaon','Dunkindonutsgurgaon','Mannatdryfruitsandgurgaon','Brewerstreetgurgaon','Ringsandthingsgurugram','Hydbaristacremehyderabad','Houseofcandyalwar','Kingcorngurgaon','Idlicomdabolim','Royalbakeryjaipur','Frontoffice1radissongurugram','Costacoffeeworldtradjaipur','Newugurgaon','Connaughtplazarestaurludhiana','Pizzahutr13rdflrambgurgaon','Subwayfatehgarh','Subwayjaipur','Annapurnafoodsgurgaon','Kfcsec47sohnaroadggurgaon','Wowmomomumbai','Burgerkingindiapvtlgurgaon','Tacobellgurgaon','Krispykremegurgaon','Haldiramproductspvtltdmohali','Tatastarbuckslimitedgurugram','Sanwariasweetspvtltdjaipur','Tatastarbuckslimitednewdelhi','Lakeforestwinegurgaon','Lakeforestwinesgurgaon','Cafecoffeedayildtrade','Cafecoffeedayninexcity','Cafecoffeedayparispoin','Thebrewhouse1radissongurugram','Omsweetspvtltdfaridabad','Baristacoffeegurgaon','Satbirfillingstationnewdelhi','Rusticfoodsllpgurgaon''Wheelyscafegurugram','Chumbakgurgaon','Bhagatmishthanbhandarjaipur','Subwaygurgaon','Keventersgurgaon','Savvygurgaon','Omsweetspvtltdgurgaon','Innerchefgurgaon','Mumusogurgaon','Starbucks-1stavenuepulaupinamyr','Haldiramdelhi','Lemarchegurgaon','Bikanervalagurgaon','Qureshiskababcornerdelhi','Paradisefoodcourtpvtgurugram']
entertainment = ['Pvrlimitedgurgaon','Opentapgurgaon','Pvrlimitednoida','Legacyentertainmentgurgaon','Netflixentertainmentsgurgaon','Ato*thehouseoftaragurgaon','Carnivalfilmspvtltdgurgaon','Photosystembykishorgurgaon','Starcruise-inrkualalump','Kazogurgaon','Bookmyshowmumbai','Theroomgurgaon']
selfcare = ['Looksacademyjaipur''Sairammedicosegurgaon','Reliancelifestyleholdgurgaon','Guardianhelathcareserdelhi','Adityabirlafashionandmohali','Tataskymumbai','Lasantealchemistgurgaon','Apollohospitalsenterphyderabad','Angelpharmacygurgaon','Goldenchariothospitalmumbai','Ato*guptamedicalstoregurgaon','Mychemistgurgaon','Kayaskinclinicgurgaon','Shrlifestylespvtltdnewdelhi','Hdfcstandardlifeconvmumbai','Guptapharmacygurgaon','Tanglessalongurgaon','Mother&childclinicgurgaon','Srirammedicogurgaon','Spicecommunicationgurgaon','Kpdhospitalityprivategurgaon','Grandhyattgrandclubbambolim','Tataindicom-docomomumbai','Wwwairtelinbankgurgaon','Httpswwwairtelinbangurgaon','Reliancejioinfocommlmumbai','Wwwairtelingurgaon','Sandsbeautycaregurgaon','Splashindiamohali','Cutandstylegurgaon','Mangalamchemistgurgaon','Pacificmedicaiigurgaon','Livepharmacygurgaon','Rightchemistgurgaon','Apollopharmacygurgaon','Dnapharmacygurugram','Lookssalongurgaon','Alphadentalteethtamgurgaon','Feetoesgurgaon','Starpharmacygurgaon','Nailspatrainersanddgurgaon','Globalpharmacygurgaon']
etc = ['Wwwallenacinkota','Chananramdewanchandgobindgar','Eternalgangespresspnewdelhi','Amritsarpunjabijuttiamritsar','Httpwwwitchotelsinmumbai','Thebabystationgurgaon','Hometowngurgaon','Aliveindiagurgaon','Punambajajgurgaon','Jaipurvidyutvitranninoida','Newu47jaipur','Tlchiltondiningtelesalnewdelhi','Nirmalhandloomhousepnewdelhi','Newu29gurgaon','Ishwarjigajakwalejaipur','02spasalongurgaon','Eternalgangespressgurgaon','Tilesandconceptsgurgaon','Anayaandcogurgaon','Newu35gurgaon','Mohinifillingstationjaipur','Itckakatiyahyderabad','Themillgurugram','Bharatsancharnigamlnewdelhi','Decathlonsportsindiagurgaon','Punjabstatepowercorpatiala','Hpclautocarecentre2jaipur','Solebritygurgaon','Payupaymentspvtltd10gurgaon','Bpclshreenaveenpetrjaipur','Orientaltresalwarf15behror','Paulgurgaon','Bingegurgaon','Bingegurugram','Suvasagurugram''Saakarcreationsgurgaon','Clarksgurgaon','Vivasvatstorespvtltdgurgaon','Planetneedsgurgaon','Kettomumbai']

In [131]:
for index, row in df5.iterrows():
  describe = row["Description"]
  describe = describe.capitalize()
  describe = remove(describe)
  if describe in shop:
    row['New_category'] = "Shopping"
  elif describe in travel:
    row['New_category'] = "Travel"
  elif describe in food:
    row['New_category'] = "Food"
  elif describe in entertainment:
    row['New_category'] = "Entertainment"
  elif describe in selfcare:
    row['New_category'] = "Self Care"
  else:
    row['New_category'] = "Others"

In [132]:
df5

                     Date TransactionUserName  ... Country   New_category
0     2020-01-17 00:00:00           INDUGOYAL  ...   India         Travel
1     2020-01-18 00:00:00           INDUGOYAL  ...   India  Entertainment
2     2020-01-18 00:00:00           INDUGOYAL  ...   India  Entertainment
3     2020-01-19 00:00:00           INDUGOYAL  ...   India  Entertainment
4     2020-01-19 00:00:00           INDUGOYAL  ...   India  Entertainment
...                   ...                 ...  ...     ...            ...
1231  2020-11-02 00:00:00        VIBHOREGOYAL  ...   India         Travel
1232  2020-11-03 00:00:00        VIBHOREGOYAL  ...   India         Others
1233  2020-11-03 00:00:00        VIBHOREGOYAL  ...   India         Travel
1234  2020-12-02 00:00:00        VIBHOREGOYAL  ...   India         Travel
1235  2020-12-02 00:00:00        VIBHOREGOYAL  ...   India  Entertainment

[1236 rows x 13 columns]

In [141]:
df7.TransactionUserName.unique()

array(['INDUGOYAL', 'JASJITKAUR', 'VIBHOREGOYAL'], dtype=object)

In [134]:
print(df5[df5['TransactionUserName']=='Self Care'].index.values)

[746]

In [136]:
df5 = df5.drop(df5.index[746])

In [138]:
df6 = df5

In [111]:
df6.sort_values(['TransactionUserName', 'Date'], ascending=[True, True], inplace = True)

In [112]:
df6.reset_index(inplace = True)

In [127]:
df6.tail(2)

                     Date TransactionUserName  ... Country   New_category
1234  2020-12-02 00:00:00        VIBHOREGOYAL  ...   India         Travel
1235  2020-12-02 00:00:00        VIBHOREGOYAL  ...   India  Entertainment

[2 rows x 13 columns]

In [115]:
df6.drop(['index'], axis = 1, inplace= True)
df6.drop(['level_0'], axis = 1, inplace= True)

In [116]:
df6.head(2)

                  Date TransactionUserName  ... Country   New_category
0  2020-01-17 00:00:00           INDUGOYAL  ...   India         Travel
1  2020-01-18 00:00:00           INDUGOYAL  ...   India  Entertainment

[2 rows x 13 columns]

In [140]:
df7 = df6

In [126]:
df7.tail(2)

                     Date TransactionUserName  ... Country   New_category
1234  2020-12-02 00:00:00        VIBHOREGOYAL  ...   India         Travel
1235  2020-12-02 00:00:00        VIBHOREGOYAL  ...   India  Entertainment

[2 rows x 13 columns]

In [144]:
df7.head(100)

                   Date TransactionUserName  ... Country   New_category
0   2020-01-17 00:00:00           INDUGOYAL  ...   India         Travel
1   2020-01-18 00:00:00           INDUGOYAL  ...   India  Entertainment
2   2020-01-18 00:00:00           INDUGOYAL  ...   India  Entertainment
3   2020-01-19 00:00:00           INDUGOYAL  ...   India  Entertainment
4   2020-01-19 00:00:00           INDUGOYAL  ...   India  Entertainment
..                  ...                 ...  ...     ...            ...
95  2019-01-19 00:00:00          JASJITKAUR  ...   India           Food
96  2019-01-19 00:00:00          JASJITKAUR  ...   India       Shopping
97  2019-01-20 00:00:00          JASJITKAUR  ...   India      Self Care
98  2019-01-20 00:00:00          JASJITKAUR  ...   India         Travel
99  2019-01-21 00:00:00          JASJITKAUR  ...   India  Entertainment

[100 rows x 13 columns]

In [145]:
df7.to_csv('Onebanc.csv')